<section class="py-12">
    <app-box-content>
        <app-heading variant="h1" label="mes commandes" class="uppercase text-primary" />

        <!-- affichage des produits sélectionnés -->
        @for(item of cartService.cart(); track item.id) {
            <app-card-item [item]="item" />
        }
        @empty {
        <div class="flex flex-col items-center justify-center h-[60vh]">
            <app-heading variant="h3" label="vous n'avez aucun de produit dans le panier ..." class="text-center" />
            <app-paragraph class="text-center">
            Allez sur la page 
            <a routerLink="/nos-produits" class="text-primary font-semibold"> boutique</a> pour sélectionnés des produits que vous souhaitez acheter.
            </app-paragraph>
        </div>
        }
    </app-box-content>

</section>
