
<div class="bg-white shadow-md border rounded-xl mt-6 mb-3 flex items-center justify-between p-3 w-[45vw] space-x-3">
    <div class="flex space-x-3">
        <!-- espace de l'image -->
        <img [src]="item().image" [alt]="item().title" class="w-16 h-16 object-contain m-auto">
        
        <div class="flex flex-col space-y-1">
        <span class="text-sm font-semibold">{{ item().title }}</span>
        <!-- espace du prix(le prix du produit * la quantité) -->
        <span>{{ item().price*quantity() | currency: "EUR" }}</span>
        <hr class="my-3">
        <div class="space-x-3 flex items-center flex-row gap-2">

            <!-- le bouton qui gère l'incrémentation de la quantité du produits -->
            <app-btn class="btn btn-circle btn-success btn-xs" (click)="increaseItem()">
                <i class="ri-add-line"></i>
            </app-btn>

            <!-- espace de la quantité du produit -->
            <span>{{ quantity() }}</span>
            
            <!-- le bouton qui gère la décrémentation de la quantité du produits -->
            <app-btn class="btn btn-circle btn-error btn-xs" (click)="decreaseItem()" >
                <i class="ri-subtract-line"></i>
            </app-btn>
        </div>
        </div>
    </div>

    <!-- le bouton qui gère la suppression du produit du panier -->
    <app-btn class="btn btn-error" (click)="deleteItem()">
        <i class="ri-delete-bin-6-line"></i> retirer ce produit 
    </app-btn>
</div>

