<!-- image de l'accueil & description ici -->
<section>
    <app-box-content>
        <div class="flex items-center">
            <div class="w-9/12">
                <app-heading variant="h1" label="la boutique moderne" class="uppercase text-primary"/>
            </div>
            <img [src]="image" alt="Un chariot qui représente le logo de la boutique" class="w-full h-[75vh]">
        </div>
    </app-box-content>
</section>
<!-- test des titres et du paragraphe -->
<section>
    <app-box-content>
        <app-paragraph>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ut, nemo voluptatibus laudantium dolore, deserunt 
            
            officia mollitia rerum perspiciatis dolores voluptatum voluptatem. Voluptatum alias ipsum fuga neque, 
            minima porro optio praesentium fugiat aut necessitatibus asperiores dolore architecto quia nam, expedita quisquam 
            repellat molestiae natus iste, sed dicta. Doloremque, non dolores!
        </app-paragraph>
    </app-box-content>
</section>
