<!-- // déclaration de la variable product() -->
@let prod = product();

<div class="card w-full shadow-xl cursor-pointer mb-4 hover:scale-105 duration-300 overflow-hidden tooltip" 
title="{{ product().title | uppercase  }}">
    <div class="relative top-0 left-0 w-full">
        <!-- espace de l'image -->
        <figure class="pt-4">
        <img
            [src]="prod.image"
            [alt]="prod.title" class="w-54 h-40 object-cover mx-auto"/>
        </figure>
        <!-- espace qui affiche le prix du produit -->
        <span class="text-right font-semibold text-sm absolute top-0 right-0 bagde badge-warning p-1 rounded-md">
        {{ prod.price | currency: "EUR" }}
        </span>
    </div>
    <!-- les boutons d'actions ajout au panier et affichage des details -->
    <div class="card-body">
        <div class="card-actions justify-between items-center mt-2">
        <!-- bouton d'ajout au panier -->
        <app-btn class="btn btn-success btn-sm" (click)="cartService.addToCart(prod)">
            Ajouter <i class="ri-shopping-cart-2-fill"></i>
        </app-btn>
        <!-- affichage des details -->
        <app-btn class="btn btn-info btn-sm" (click)="showDetails(prod)" >
            détails <i class="ri-eye-fill"></i>
        </app-btn>
        </div>
    </div>
</div>

